@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}
/*Header*/
.nav{
      position: sticky;
      top: 0;
      z-index: 3;
}
.nav header{
     
      display: flex;
      justify-content: space-between;
      align-items:center;
      background-color:#27B6D6;
}
.nav header img {
      width: 4.375rem;
}

nav ul li  {
      display: inline-block;
      justify-content: space-between;
      text-align: flex-end;  
      padding-right: 3rem;
}
nav li {
      list-style-type:none;
      transition: 0.3s;
}
nav li:hover{
      transform: scale(1.3); 
      -webkit-transform: scale(1.3); 
      -ms-transform: scale(1.3);
}
nav a{
      color: #293241 ;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      flex-grow: 1em;
}
nav a:hover{
      color:#ffffff; 
}


.paragraph li{
      list-style: none;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/*Description*/
.paragraph{
      left: 0;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      padding-left: 1rem;
      font-size: 30px;
}
.paragraph span{
    color: rgb(35, 97, 112);
    font-weight: bold;
}

  
.slideshow-container {
  position: relative;
  top: 1.25rem;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*Contact*/
.container{
      background-image: url(../Images/patternpad.svg);
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;

}

.card {
      box-shadow: 0 .25rem .015rem 0 rgba(0, 0, 0, 0.2);
      max-width: 18.75rem;
      margin: auto;
      text-align: center; 
      color: #3d5a80;
      background-color: #fff;
      border-radius: .375rem;
      margin-bottom:10px;
}
.card:hover{
       box-shadow: 0 .5rem .75rem 0 rgba(0,0,0,1)
}

.title {
   font-size: 1.125rem; 
}

.card img{
      border-radius: 50%;
}

button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 0.5rem;
      color: white;
      background-color: #293241;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 1.125rem;
}

.card a {
      transition: 0.3s;
}


button:hover{
      color: white;
      background-color: skyblue;
}
a:hover{
      color: skyblue;
}

/*About*/

.about
{
      background-color: #293241;
      text-align: center;
      color: #fff;
      padding-bottom: 2rem;
}
.about h2{
      padding-right: 50px;
      font-size: 3rem;
      text-decoration:underline ;
      text-transform: uppercase;
}
.about h3{
      text-decoration:underline ;     
}
.about p{
      font-size: large;
      padding-left: 6rem;
      padding-right: 6rem;
}
nav span{
  display: none;
}
nav .closebtn{
  display: none;
}


.basic {
      background-color: white;
      float: left;
      width: 33.3%;
      padding: .5rem;
      padding-top: 2.5rem;
      margin-bottom:30px;
    }
    
.premium {
      background-color: white;
      float: left;
      width: 33.3%;
      padding: .5rem;
      padding-top: 1.875rem;
      margin-bottom:30px;
    }
    

.price1 , .price2 {
      list-style-type: none;
      border: .0625rem solid #eee;
      margin: 0;
      padding: 0;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }
    

.price2:hover {
      box-shadow: 0 .5rem .75rem 0 rgba(0,0,0,1)
    }
.price1:hover {
      box-shadow: 0 .5rem .75rem 0 rgba(0,0,0,1)
    }

.price1 .header {
      background-color: #003049;
      color: white;
      font-size: 1.56rem;
    }
    
.price2 .header {
      background: #CB356B;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: white;
      font-size: 1.25rem;
    }
.price1  li {
      border-bottom: .0625rem solid #D62828;
      padding: 1.25rem;
      text-align: center;
    }
.price2 li {
      border-bottom: .0625px solid #D62828;
      padding: 1.25rem;
      text-align: center;
    }
 
.price1 .price2 .grey {
      background-color: #eee;
      font-size: 1.25rem;
    }
    

.button {
      background-color: #04AA6D;
      border: none;
      color: white;
      padding: .625rem 1.56rem;
      text-align: center;
      text-decoration: none;
      font-size: 1.125rem;
  }


a{
    text-decoration: none;
}

#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 

::selection{
    color: #ffffff;
    background-color: #252525;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #252525;
  color: white;
  font-size:20px;
}
footer p{
      display: inline-block;
      padding-right: 1rem;
}

.whatsapp{
      font-size:20px;
}


@media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
@media (max-width: 800px) {


.navbar {
        flex-direction: column;
        align-items: flex-start;
    }
.container {
        flex-direction: column;
        align-items: flex-start;
    }

p{
        padding: 0 1em;
    }


  
.overlay {  
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); 
  overflow-x: hidden; 
  transition: 0.5s; 
}

/* Position the content inside the overlay */
.navbar-links {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

nav span{
  display: block;
}

.navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

.navbar-links ul li {
        text-align: center;
    }

.navbar-links ul li a {
        padding: .5rem 1rem;
    }

.navbar-links.active {
        display: flex;
    }
}


@media only screen and (max-width: 600px) {
      
.basic {
    width: 100%;
  }
.premium {
    width: 100%;
  }
}
@media (max-width:978px) {
      .hero{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:641px) {
    
    .slideshow img{
        max-width: 90%;
    }
}
